.OneCollaborator:hover{
  color:black;
  background-color: #ECF2EE;
}
.OneCollaboratorNameFirstName{
  font-family: 'Karla-Bold';
  font-size: 20px;
  padding-bottom:3px;
}
.OneCollaboratorDetails{
  vertical-align: center;
  font-family:'Karla';
  font-size: 12px;
  padding-top:10px;
  padding-bottom:10px;
}
.OneCollaboratorOffices{
  padding-bottom:3px;
  padding-top:3px;
}
.material-icons{
  font-size:15px;
}
.OneCollaborator{
  padding-left:5%;
}
.img-circle{
  width:90px;
  height: 90px;
  border-radius:50%;
  float:left;
  margin-top:6px;
  margin-right:35px;
}
