@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src:
    url("../assets/font/Karla-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Karla-Bold';
  font-style: normal;
  font-weight: 300;
  src:
    url("../assets/font/Karla-Bold.ttf") format("truetype");

}
