#details{
  width: 1120px;
  height: 700px;
  font-family:'Karla';
  position: absolute;
  display: flex;
  -webkit-box-shadow: 1px 1px 10px 0px #656565;
  -o-box-shadow: 1px 1px 10px 0px #656565;
  box-shadow: 1px 1px 10px 0px #656565;
  flex-direction:column;
  flex-wrap:wrap;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
}
.name{
  font-family: 'Karla-Bold';
}
.header{
  color:#B5B5B5;
}
.chipWhite{
  background-color:white;
  border-style:inset;

}
.img-circle{
  width:140px;
  height: 140px;
  border-radius:50%;
  box-shadow: 1px 1px 12px #555;
}
.label{
  displax:flex;
  flex-direction:column;
}
.inputCollab{
  display:flex;
  flex-direction: column;
}
input{
  border-radius:50px;
  border:2px solid #D3D3D3;
}
.resume {
  display: flex;
  flex-direction:column;
  position: relative;
  width: 25%;
  height: 100%;
  border-right:solid;
  border-right-color:#EFEFEF;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.collaborator-profile{
  display:flex;
  position:relative;
  width:37.5%;
  height:50%;
  flex-direction: row;
  border-right:solid;
  border-right-color:#EFEFEF;
  border-right-width: thin;
  border-bottom:solid;
  border-bottom-width: thin;
  border-bottom-color:#EFEFEF;
  justify-content:center;
  align-items:center;
  align-content:center;

}
.phone-profile{
  display:flex;
  position:relative;
  width:37.5%;
  height:30%;
  flex-direction: column;
  border-right:solid;
  border-right-color:#EFEFEF;
  border-right-width: thin;
  border-bottom:solid;
  border-bottom-width: thin;
  border-bottom-color:#EFEFEF;
  justify-content:center;
  align-items:center;
}
.workstation-profile{
  display:flex;
  position:relative;
  width:37.5%;
  height:20%;
  flex-direction: column;
  border-right:solid;
  border-right-color:#EFEFEF;
  border-right-width: thin;
  border-bottom:solid;
  border-bottom-width: thin;
  border-bottom-color:#EFEFEF;
  justify-content:center;
  align-items:center;
}

.skills-profile{
  display:flex;
  position:relative;
  width:37.5%;
  height:50%;
  flex-direction: column;
  border-right:solid;
  border-right-color:#EFEFEF;
  border-right-width: thin;
  border-bottom:solid;
  border-bottom-width: thin;
  border-bottom-color:#EFEFEF;
  justify-content:center;
  align-items:center;
}
.projects-profile{
  display:flex;
  position:relative;
  width:37.5%;
  height:50%;
  flex-direction: column;
  border-right:solid;
  border-right-color:#EFEFEF;
  border-right-width: thin;
  border-bottom:solid;
  border-bottom-width: thin;
  border-bottom-color:#EFEFEF;
  justify-content:center;
  align-items:center;
}
.skills{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;

}
.projects{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;

}
