
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    position="end"
    [attr.role]="'dialog'"
    [mode]="'over'"
    [opened]="false">
    <mat-toolbar color="primary">
      <img src="../../assets/img/logo.png" class="logo">
    </mat-toolbar>
    <input type="text" class="center-block" id="keypressed" placeholder="ex: Marco Polo" autofocus/>
    <div class = "filters">
      <mat-chip-list class="filtersFont" [selectable]="true">
        <mat-chip [ngClass]="{'red':child.chipCheck(chip) === true,'red':child.chipCheck(chip) === false}" *ngFor="let chip of child.chipsState" (click) = child.setFilters(chip) color="accent" class="chips">
          {{chip.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <mat-nav-list class="navlist">
      <app-homepage></app-homepage>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
      </button>
      <span>Marcopolo</span>
    </mat-toolbar>
    <app-resume></app-resume>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
