.listeCollaborateurs{
  font-family: 'Karla';
  font-size:16px;
  margin: auto;
  display: block;
}
.category{
  padding-left:20%;
  font-family: 'Karla-Bold';
  font-size: 20px;
}
.details{
  padding-left:30px;
}
hr {
  border-top: 10px solid #6C6C6C;
  overflow: visible;
}


